################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CUDirectEvaluation/CUDirectEvaluation/bin/Debug/net5.0
/CUDirectEvaluation/.vs/CUDirectEvaluation
/.vs
/CUDirectEvaluation/CUDirectEvaluation/obj
/CUDirectEvaluation/CUDirectEvaluationTest/bin/Debug/netcoreapp3.1
/CUDirectEvaluation/CUDirectEvaluationTest/obj
/CUDirectEvaluation/CUDirectEvaluation/bin/Release/net5.0
