
<div style="height:0px;width:100%;">
    <div onclick="Apps.Components.Testing.Maximize();" class="TestingMaximizeStyle">
        <i class="far fa-square"></i>
    </div>
    <div onclick="Apps.Components.Testing.Minimize();" class="TestingMinimizeStyle">
        -
    </div>
    <div onclick="Apps.Components.Testing.Hide();" class="TestingCloseStyle">
        X
    </div>
</div>


<h3 style="margin-top: 0px;">
    <span id="spanTestingTitle" style="position: relative;    top: -6px;">Testing Component</span>
</h3>
<h3>Current URL:</h3>
<textarea id="currenturl" style="width:100%;"></textarea>

<div class="btn btn-info btn-sm" style="margin-bottom:3px;" id="newhoquote" onclick="Apps.Components.Testing.NewHOQuote();">New HO Quote</div>

<div class="btn btn-info btn-sm" style="margin-bottom:3px;" id="newhoapp1" onclick="Apps.Components.Testing.NewHOApp1();">New HO App 1</div>

<div class="btn btn-info btn-sm" style="margin-bottom:3px;" id="newhoapp2" onclick="Apps.Components.Testing.NewHOApp2();">New HO App 2</div>

<div class="btn btn-info btn-sm" style="margin-bottom:3px;" id="newhoappq1" onclick="Apps.Components.Testing.NewHOAppQ1();">Page 1 Questions</div>
<div class="btn btn-info btn-sm" style="margin-bottom:3px;" id="newhoappq1" onclick="Apps.Components.Testing.NewHOAppQ2();">Page 2 Questions</div>

<div id="divTestingTable btn-sm"></div>
